@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    font-family: 'Poppins',sans-serif;
}

.page-header {
    position: absolute;
    width: 100vw;
    height: 20vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #3C39DF -1.88%, #1E85D0 75.72%);
    color: white;
}
.page-header h1 {
    color: white;
   text-decoration: none;
   text-align: center;
   float: left;
   padding: 10px 20px;
   font-weight: bold;
}

.main-div {
    /* width: 80%; */
    /* margin: auto; */
    /* height: 100vh; */
    /* background: white; */

    position: absolute;
    width: 83.3vw;
    height: 65.8203125vh;
    left: 8.33vw;
    top: 13.476vh;
    /* margin: ; */

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.swap-svg{
    position: absolute;
    width: 55px;
    height: 36.69px;
    left: calc(50% - 55px/2 - 16px);
    top: calc(8% - 36.69px/2);
}

.main-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px #c4c4c4;
}

.left-title{
    position: absolute;
    width: 41.65vw;
    height: 45px;
    left: 1vw;
    top: calc(8% - 90px/2);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;

    display: inline;

    color: #474747;
}

.right-title{
    position: absolute;
    width: 41.65vw;
    height: 45px;
    right: 1vw;
    top: calc(8% - 90px/2);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;

    display: inline;

    color: #474747;
}

.title-divider{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 16%;

    background: #C4C4C4;
}

.left-div {
    /* margin: 1%; */
    /* padding: 4%; */
    /* width : 40%; */
    /* height: 100%; */
    /* background: #c4c4c4; */
    /* float: left; */
    /* color: black; */

   /* Rectangle 102 */

    box-sizing: border-box;

    position: absolute;
    width: 37.638vw;
    height: 50.488vh;
    left: 2.0834vw;
    top: 80.879px;

    border: 3px solid #D1D1D1;
    border-radius: 30px;
 
}

.left-div-contents {
    height: max-content;
    margin: 20px 20px 20px 20px;
}
 /* part yang aku copas dari website */
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
} 

.box{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: absolute;
}

.box.has-advanced-upload {
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
    display: inline;
  } 

  /* copas ends here */

.right-div {
    /* margin: 1%; */
    /* padding: 4%; */
    /* width: 40%; */
    /* height: 100%; */
    /* background: #c4c4c4;  */
    /* float: right; */

    position: absolute;
    width: 37.638vw;
    height: 50.488vh;
    right: 2.152vw;
    top: 80.879px;
    float: right;
    text-align: right;
}

.right-div

.left-text{
    position: absolute;
    width: 190px;
    height: 30px;
    right: calc(2.152vw + 37.638vw - 185px);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;

    color: #7C7C7C;
}

.right-text{
    position: absolute;
    width: 190px;
    height: 30px;
    right: calc(2.152vw + 37.638vw - 185px - 190px - 20px);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;

    color: #7C7C7C;
}

.dropdown-box{
    /*
    appearance: none;
    background: url("data:image/svg+xml;<svg width='29' height='18' viewBox='0 0 29 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3.12227 0.877857L0.322266 3.67786L14.3223 17.6779L17.1223 14.8779L17.1222 14.8778L28.3223 3.67775L25.5223 0.877746L14.3222 12.0778L3.12227 0.877857Z' fill='#1E86D1'/></svg>") no-repeat;
    background-position: 95% ;
    */
    /* Frame 21 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 10px;

    position: absolute;
    width: 190px;
    height: 36px;
    right: 2.152vw;
    top: 6.5%;

    background: #EDF7FF;
    border: 2px solid #1E86D1;
    border-radius: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    text-align: left;

    color: #1E86D1;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.source-dropdown{
    right: calc(2.152vw + 37.638vw - 185px);
}

.target-dropdown{
    right: calc(2.152vw + 37.638vw - 185px - 190px - 20px);
}

.dropdown-value{
    position: absolute;
    width: 182px;
    height: 30px;
    right: 67px;
    top: 15px;

    color: #1E86D1;
    background-color: #EDF7FF;

}

.translate-btn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    width: 90px;
    height: 36px;
    right: 2.152vw;
    top: 6.5%;

    background: #EDF7FF;
    border: 2px solid #1E86D1;
    border-radius: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;

    color: #1E86D1;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.translate-btn:hover{
    background: #DDE7EF;
    color: #187EC9;
}

.translate-btn:active{
    background: #CDD7DF;
    color: #187EC9;
}

.translate-text{
    top:calc(50% - 16px/2);
    position: absolute;   
    text-align: center;
}

.result-textbox {
    /* border-style: solid; */
    /* background: white; */
    /* border-radius: 20px; */
    /* height: 80%; */

    position: absolute;
    width: 37.638vw;
    height: 39.746vh;
    right: 2.152vw;
    top: 10vh;

    border: 3px solid #D1D1D1;
    border-radius: 30px; 

    overflow-wrap: break-word;
    text-align: justify;
}

.result-textbox p {
    overflow: auto;
    max-height: calc(100% - 5vh);
    width: calc(100% - 2.152vw - 5%);
    padding: 0% 5%;
}

.camera-box{
    position: absolute;
    width: 130px;
    height: 106px;
    left: calc(50% - 130px/2);
}

.camera-svg{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 9.29%;
    bottom: 9.29%;
}

.upload-message{
    position: absolute;
    width: 266px;
    height: 38px;
    left: calc(50% - 266px/2);
    top: 42.5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #383838;
}

.upload-sub-message{
    position: absolute;
    width: 292px;
    height: 46px;
    left: calc(50% - 292px/2);
    top: 55%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;

    color: #7C7C7C;
}

.upload-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 10px;

    position: absolute;
    width: 120px;
    height: 35px;
    left: calc(50% - 140px/2);
    top: calc(50% - 45px/2 + 35%);

    background: linear-gradient(90deg, #5958EA -2.19%, #3AA1EC 103.73%);
    border-radius: 10px;
    border: none;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.upload-button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 10px;

    position: absolute;
    width: 120px;
    height: 35px;
    left: calc(50% - 140px/2);
    top: calc(50% - 45px/2 + 35%);

    background: linear-gradient(90deg, #3938CA -2.19%, #1A81CC 103.73%);
    border-radius: 10px;
    border: none;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.upload-button:active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 10px;

    position: absolute;
    width: 120px;
    height: 35px;
    left: calc(50% - 140px/2);
    top: calc(50% - 45px/2 + 35%);

    background: linear-gradient(90deg, #2928BA -2.19%, #0A71BC 103.73%);
    border-radius: 10px;
    border: none;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.upload-text{
    width: 100%;
    height: 23px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

/*TTS and Download*/
.extra-buttons{
    position: absolute;
    width: 100px;
    height: 90px;
    right: calc(8.34vw - 50px/2);
    top: calc(83.33vh - 45px/2);

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    transform: scale(0.5);
}

.download-button{
    position: absolute;
    width: 60px;
    height: 60.23px;
    left: calc(30% - 60px/2);
    top: calc(50% - 60.23px/2);
    border: none;
    outline:none;
    background-color: #FFFFFF;
}

.tts-button{
    position: absolute;
    width: 60px;
    height: 60.23px;
    right: calc(25%);
    top: calc(50% - 60.23px/2);
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.tts-button:hover{
    cursor: pointer;
}